.container_size_1 {
    width: 100%;
    max-width: 100%;
}

.container_display {
    display: none;
}

.item_style_1 {
    background-color: #FA2C5A;
    color: white;
    padding: 3px 2px 3px;
    margin: 0px 5px;
    font-size: 1rem;
}

.upload_button {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

/* Menyembunyikan input file */
