.navbar-main {
    background-color: #F1F3FF;
    padding-bottom: 100px;
}

.btn.btn-success.reg {
    background-color: #5CB85F;
    border-color: #5CB85F;
    border-radius: 3px;
    margin-left: 5px;
}

.blue-box {
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
    color: #0D28A6;
}

.service{
    width: 100px;
}

.why{
    width: 70px;
}