.row.second {
    margin-top: 100px;
    
}

ul, li {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    width: 270px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: grid;
}

.list-feature {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.second-tagline {
    width: 468px;
    height: 72px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    
}


.second-tagline-description {
    width: 468px;
    height: 80px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 18px;
    
}

@media only screen and (max-width: 800px) {
    .feature-ill {
        width: 252px;
        height: 228px;
    }

    .col.imageill {
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .col.pointssecond {

    }
    .second-tagline {
        margin-top: 24px;
        width: 328px;
    }
    .second-tagline-description {
        width: 328px;
    }
}