.btn.btn-success.select-car {
    margin: 24px;
}

.btn.btn-success.pembayaran {
    background-color: #5CB85F;
    border-color: #5CB85F;
    width: 100%;
}

.card.car.result {
    height: 500px;
    border-color: lightgrey;
    box-shadow: 0 0 9px lightgrey;
    padding-bottom: 20px;
}
.price-car {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-img-top {
    width: 270px;
    height: 160px;
    background-size: cover;
    border-radius: 16px;
}

.carimage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 31px 17px 31px 16px;
}

.desc {
    width: 301px;
    height: 60px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

/* range style */
.rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
    padding-left: 0;
    padding-right: 0;
    border-radius: 21px;
    display: inline-block;
}

.rs-btn.rs-btn-primary.rs-btn-sm { 
    text-align: center; 
    cursor: pointer;
    outline: 0 ; 
    border: none; 
    align-self: center;
    padding: 8px 12px; 
    font-size: 14px; 
    border-radius: 1px;
    color: #fff;
    background-color: #35B0A7;
    width: 240px;
}