.container.form {
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid #fff;
    padding: 46px 24px 24px 24px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(112, 125, 130);
}

.col-last {
    display: flex;
    column-gap: 16px;
}

.line-boxes {
    /* background-color: black; */
    /* border: 1px solid ; */
}