.row.third {
    margin-top: 100px;
}
.tag-why-us {
    /* position: absolute; */
    height: 36px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
    
}

.why-us-desc {
    /* // position: absolute; */
    width: 468px;
    height: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
    
}

.card-container {
    margin-bottom: 100px;

}

@media screen and (max-width: 720px)  {
    .col.whyus {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .tag-why-us {
        text-align: center;
    }
    .why-us-desc { 
        text-align: center;
    }
}