.row.first {
    margin-top: 53px;
}

.container {
    margin: 0;
    padding: 0;
    /* // border: 1px solid red; */
    
}

.first-tagline {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 10px;
    margin-top: 118px;
    
}

.first-tagline-description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    width: 468px;
    height: 60px;
    
}

.img-car-merc {
    width: 120%;
    position: relative;
    object-fit: cover;
    
}

.btn.btn-success.first {
    margin-top: 16px;
}


#hero {
    background-color: F1F3FF;
}

@media only screen and (max-width: 800px) {
    .first-tagline {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 10px;
    }
}