

.font_size_1 {
    font-size: 0.8rem;
}

.font_size_2 {
    font-size: 0.8rem;
}


@media screen and (max-width: 576px) { 
    .container_size_1 {
        width: 100vw;
        height: 100vh;
    }

    .flex_size_1 {
         width: 85vw;
    }
 }


@media screen and (min-width: 1200px) { 
    .container_size_1 {
        width: 50vw;
        height: 100vh;
        left: 0;
    }

    .flex_size_1 {
        width: 50%;
   }
}






