.card-title {
    text-align: left;
    // width: 113px;
    height: 24px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.card-text{
    text-align: left;
    width: 220px;
    height: 60px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.card { 
    width: 268px;
    height: 196px;
}

.card-icon {
    display: flex;
    align-content: flex-start;
    margin-bottom: 16px;
}