.container_style_1 {
    width: 25%;
}

.item_style_1 {
    border: 1px solid black;
}

.btn_style_1{
    border: 1px solid rgb(188, 188, 188);
    height: 30px;
    width: 65px;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    margin-right: 20px;
    padding: 10px;
}