// * {
//     overflow-x: hidden;
// }

// first section

.row.first {
    margin-top: 53px;
    
}

.container {
    margin: 0;
    padding: 0;
    // border: 1px solid red;
    
}

.first-tagline {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 10px;
    margin-top: 118px;
    
}

.first-tagline-description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    width: 468px;
    height: 60px;
    
}

.img-car-merc {
    width: 120%;
    position: relative;
    object-fit: cover;
    
}

.btn.btn-success.first {
    margin-top: 16px;
    
}


#hero {
    background-color: F1F3FF;
}

//end of first section

//start of second section

.row.second {
    margin-top: 100px;
    
}

.second-tagline {
    width: 468px;
    height: 72px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    
}

.second-tagline-description {
    width: 468px;
    height: 80px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    
}

//end of second section

// start of third section

.row.third {
    margin-top: 100px;
    
}

.tag-why-us {
    // position: absolute;
    height: 36px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
    
}

.why-us-desc {
    // position: absolute;
    width: 468px;
    height: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
    
}

.card-container {
    margin-bottom: 100px;

}