.point-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 16px;
}

/* .point-current {
    width: 557px;
}

.list-manual{
    margin: 0;
    padding: 0;
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
} */
ul {
    margin: 0;
    padding: 0;
    list-style-type: circle;
}

.list-points {
    width: 557px;
    color: #8A8A8A;
}

.colwrapper {
    border: 1px solid red;
    padding-left: 24px;
    border-color: lightgrey;
    box-shadow: 0 0 9px lightgrey;
    border-radius: 8px;
    padding-bottom: 24px;
}
.row.result {
    margin-top: 30px;
}